# -----------------
# Python
# -----------------
venv/
__pycache__/
*.pyc
.env

# -----------------
# Node / React
# -----------------
node_modules/
dist/
build/

# -----------------
# IDE
# -----------------
.vscode/
.idea/

# -----------------
# OS junk
# -----------------
Thumbs.db
.DS_Store
